/* Buttons javafx */
/* Green button with radius */
#launchSimulations, #saveResults {
    -fx-background-color: #006300;
    -fx-background-radius: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

#launchSimulations:hover, #saveResults:hover {
    -fx-background-color: #008000;
}

#launchSimulations:pressed, #saveResults:pressed {
    -fx-background-color: #004d00;
}

#addSimulation {
    -fx-background-color: #00218d;
    -fx-background-radius: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

#addSimulation:hover {
    -fx-background-color: #0041c2;
}

#addSimulation:pressed {
    -fx-background-color: #001a73;
}

#deleteSimulation {
    -fx-background-color: #8c0000;
    -fx-background-radius: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 0.9em;
    -fx-font-weight: bold;
}

/* error label */
#error {
    -fx-text-fill: red;
}

/* scrollbar */
.scroll-bar:horizontal .thumb {
    -fx-background-radius: 30;
}

/* table */
.table-view {
    -fx-background-color: #b4b4b4;
    -fx-selection-bar: #b4b4b4;
}

/* labels (title) */
#title {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}






